.narrow-component {
    max-width: 440px; 
    margin: 0 auto;
}

.page-header {
    padding: 1em;
    background-color: #ccc;
    border-bottom: 1px solid #777;
}

main {
    border: 1px solid #aaa;
    box-shadow: 0 0 7px #ccc;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

form {
    & > div {
        margin-top: 1.5rem;
    }
}

.search-bar {
    width: 300px;
    margin-right: 1em;
}

.nominee-list {
    .btn-group-vertical {
        width: 100%;
    }
}

.search-item-content {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;

    &.active {
        background-color: white;
    }
    &.inactive {
        background-color: #ccc;
    }
}

img.voted {
    width: 250px;
}

.voting-list, .results-list {
    .card-header {
        background-color: #eee;
    }
    .nominee-name {
        font-weight: 600;
        font-size: 140%;
    }
}